<center>
    <h1>Add new Ad</h1>

    <%if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <p style = "color:red"><%= error %></p>
        <%end%>
    <%end%>

    <%= form_for @ad do |f| %>
        <table cellpadding="15px">
            <tr>
                <td><%= f.label :title %></td>
                <td><%= f.text_field :title %></td>
            </tr>
            <tr>
                <td><%= f.submit %></td>
            </tr>
            <tr>
                <td><b><%= link_to "Back", magazine_ads_path %></b></td>
            </tr>
        </table>
    <% end %>
</center>
