<center>
  <h1 >List of Users</h1><br>
  
  <%= form_tag users_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %><br><br>

  <div id="facets">
    <h3>Name</h3>
      <% for row in @search.facet(:name).rows %>
        <% if params[:name].blank? %>
          <%= link_to row.value, :name =>  row.value %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "remove", :name => nil %>)
        <% end %><br>
      <% end %><br>

    <h3>Browse by Score (Query Facet)</h3>
    <% for row in @search.facet(:score).rows %>
      <% if params[:score].blank? %>
        <%= link_to row.value, :score =>  row.value %> (<%= row.count %>)
      <% else %>
        <strong><%= row.value %></strong> (<%= link_to "remove", :score => nil %>)
      <% end %><br>
    <% end %><br>

    <h3>Browse by Score done by User (Range Facet)</h3>
    <% for row in @search.facet(:score).rows %>
      <input type="radio" name="score" value="<%= row.value %>" <%= params[:score] == row.value ? "checked" : "" %>> <%= row.value %> (<%= row.count %>) <br>
    <% end %><br>
  </div>

  <table cellpadding="15px" border="1px">
    <tr>
      <td><b>User Name</b></td>
      <td><b>Phone Number</b></td>
      <td><b>Email</b></td>
      <td><b>Score</b></td>
      <td><b>DOB</b></td>
      <td><b>Course</b></td>
      <td><b>Start Date</b></td>
      <td><b>End Date</b></td>
      <td><b>View</b></td>
      <td><b>Edit</b></td>
      <td><b>Remove</b></td>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><b><%= user.name %></b></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= user.score %></td>
        <td><%= user.dob %></td>
        <td><%= user.course %></td>
        <td><%= user.start_date %></td>
        <td><%= user.end_date %></td>
        <td><%= button_to "View", user_path(user), method: :get %></td>
        <td><%= button_to "Edit", edit_user_path(user), method: :get %></td>
        <td><%= button_to 'Remove', user_path(user), method: 'delete' %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="10" align="center"><%= button_to "Add new User", new_user_path, method: :get%></td>
    </tr>
  </table>
</center>
